<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace+id = SQL语句的坐标-->
<mapper namespace="com.cskaoyan.UserMapper">
    <!--id:在当前xml文件中唯一-->
    <!--resultType:写返回类型的全限定名称-->
    <select id="selectUserById" resultType="user">
        select * from user where id = #{id}
    </select>

    <insert id="insertUser" >
        insert into user values (#{id},#{name},#{birth})
    </insert>

    <insert id="insertUserWithUser">
        insert into user values (#{id},#{name},#{birth})
    </insert>

    <update id="updateUserById">
        update user set name = #{user.name} , birth = #{user.birth} where  id = #{id}
    </update>
</mapper>