<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：命名空间 -->
<!-- namespace.id  = SQL语句的坐标 -->
<mapper namespace="com.cskaoyan.mapper.UserMapper">
    <!-- id: 在当前xml文件中唯一  -->
    <!-- resultType: 写返回类型的全限定名称 -->

    <!-- 不同类型的SQL语句对应的不同的标签 -->
    <!-- 以下的三个标签里面只用配置Id，不用配置resultType-->
    <!--<insert id=""-->
    <!--<update id=""-->
    <!--<delete id=""-->
</mapper>
